mat-slider {
    width: 100%;
}

.main-div {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

.heading-div {
    text-align: center;
    margin-bottom: 30px;
}

.mentor-div {
    font-size: 20px;
    margin-top: 10px;
    text-align: initial;
    margin-bottom: 20px;
}

.class-div {
    font-size: 20px;
    text-align: initial;
}

.area-div {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    width: 32%;
}

textarea {
    width: 97%;
    height: 200px;
    resize: none;
    border: 3px solid #cccccc;
    padding: 10px;
}