<div class="footer">
    <div class="footer-content">
        <div class="logo">
            <img src="../../assets/images/logo.png" alt="Logo">
            <img style="    display: block;
            height: 88px !important;
            margin-top: 20px;" src="../../assets/images/iso.png" alt="Logo">
        </div>
        <div class="social-media">
            <p class="section-title">Our Social Media</p>
            <div class="icons">
                <a href=" https://twitter.com/find_mentor">
                    <img src="../../assets/images/twitter-icon.svg" alt="Twitter">
                </a>
                <a href="https://www.instagram.com/findmementor/">
                    <img src="../../assets/images/insta-icon.svg" alt="Instagram">
                </a>
                <a href="https://www.facebook.com/findmementor">
                    <img src="../../assets/images/facebook-icon.svg" alt="Facebook">
                </a>
                <a href="https://learn.findmementor.com">
                    <img src="../../assets/images/linkedin-icon.svg" alt="Linkedin">
                </a>
            </div>
            <div>
                <img style="width: 148px;
                margin-top: 20px;" src="../../assets/images/startuo.png" alt="Logo">
            </div>
        </div>
        <div class="company">
            <p class="section-title">Company</p>
            <ul class="company">
                <li><a href="">About us</a></li>
                <li><a href="https://learn.findmementor.com">Learn</a></li>
                <li><a routerLink="/faq">FAQs</a></li>
                <li><a href="">Team</a></li>
                <li><a href="http://blog.findmementor.com">Blog</a></li>
            </ul>
        </div>
        <div class="contacts">
            <p class="section-title">Contact Us</p>
            <ul class="phone">
                <li>+91 79829 59027 <br>+91 77018 89036</li>
            </ul>
            <ul class="mail">
                <li>info@findmementor.com</li>
            </ul>
            <ul class="location">
                <li>D1, 1st Floor, Greater Kailash Enclave - 2, New Delhi - 110048</li>
            </ul>
        </div>
    </div>
    <div class="sub-footer">
        <div class="sub-footer-content">
            <span>
        <span>
          Terms and conditions | 
        </span>
            <span style="cursor: pointer;" [routerLink]="'../privacypolicy'">
          Privacy policy
        </span>
            </span>
            <p>© 2020, Dey Education & Research Pvt Ltd. All rights reserved.</p>
        </div>
    </div>
</div>