# Django settings
DJANGO_ADMIN_URL=admin/
DJANGO_ALLOWED_HOSTS=*
DJANGO_SECRET_KEY=put_custom_complex_key_here
DJANGO_SETTINGS_MODULE=config.settings.develop

DJANGO_DEBUG=True

DJANGO_DATABASE_URL=postgres://fmm_user:password@database:5432/fmm_db
# data format: postgres://USER:PASSWORD@HOST:PORT/DB_NAME

FRONT_URL=example.com

SENDGRID_API_KEY=xxxxxx
SENDGRID_EMAIL_FROM=example@test.com

YUWEE_AUTH_TOKEN=xxxxx
YUWEE_CLIENT_ID=xxxxx
