table {
    width: 100%;
}

.main-div {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.head-div {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 80px;
}

p {
    font-size: 18px;
    text-align: initial;
}

:host ::ng-deep th.mat-header-cell {
    text-align: center !important;
}