/* For use in src/lib/core/theming/_palette.scss */
$mat-custom: (
50 : #e5e5e6,
100 : #bdbec0,
200 : #929397,
300 : #66676d,
400 : #45474d,
500 : #24262e,
600 : #202229,
700 : #1b1c23,
800 : #16171d,
900 : #0d0d12,
    A100 : #d19733,
    A200 : #717171,
    A400 : #000000,
    A700 : #ffffff,
    contrast: (
50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
)
);

